<!DOCTYPE html>
<html>
<head>
    <style>
        .contents {margin: 20px; padding-bottom: 20px;}
    </style>
    <title>역세권 청년주택 공고 알리미</title>
</head>
<body>
    <div class="wrap" style="background:rgb(255, 255, 255, 0.5); border-radius: 15px;">
        <div class="contents">
            <h1 style="text-align: center; color: rgb(46, 42, 42); margin-top: 250px; margin-bottom: 25px;">역세권 청년주택 공고 알리미 📭</h1>
            <form action="/crawl" method="get" style="text-align: center;">
                <button>Crawl</button>
            </form>
        <div>
    </div>
</body>
</html>